<div class="row">
	{{list}}
</div>
<div class="row justify-content-right">
	<div class="col-12 col-md-2">
		<a class="btn btn-info w-100" href="{{path_to_core}}role/insert.php">เพิ่มบทบาท</a>
	</div>
</div>
