<form method="post">
	<div class="row">
		<div class="col-5 ">
			เปลี่ยนของ:
		</div>
		<div class="col-7 text-right">
			{{username_now}}
		</div>
	</div>
	<div class="row">
		<div class="col-5">
			Role:
		</div>
		<div class="col-7 text-right {{toggle-1}}">
			<a href="{{path_to_core}}team-select.php">กรุณาเลือกทีมก่อนครับ</a>
		</div>
		<div class="col-7 text-right {{toggle-2}}">
			{{role-option}}
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<hr class="colorgraph">
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-4">
			<input name="submit" class="btn btn-primary w-100" type="submit" value="ส่งข้อมูล">
		</div>
	</div>
</form>
