<div class="col-12 col-md-6 mb-3">
	<div class="card">
		<div class="card-header">
			<div class="row m-0 justify-content-center">
				<div class="col-6 p-0">
					<h3 class="m-0">{{card_name}}</h3>
				</div>
				<div class="col-6 text-right">
					<a href="edit.php?id={{id}}">แก้ไข</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row m-0 justify-content-center">
				<div class="col-12 col-sm-6 mb-3">			
					ชื่อ: {{name}}<br>
					ชื่อแสดง: {{name_show}}<br>
					Power: {{power}}<br>
					{{active_show}}
				</div>
				<div class="col-12 col-sm-6 text-sm-right">
					{{list}}
				</div>
			</div>
		</div>
	</div>
</div>