<div class="text-center d-inline-block mr-2 mb-2" style="width:50px;">
  	<div><a href="{{path_to_core}}user/info.php?id={{id}}">
  			<img class="profile-image rounded-circle" 
  				 onError="this.onerror=null;this.src='{{path_to_core}}system/img/profile/male-avatar.png';" 
  				 style="width:50px;height:50px;" 
  				 src="{{path_to_app}}system/img/profile/{{id}}">
  		 </a>
  	</div>
</div>